<!doctype html>
<html lang="en">
<head>
    <meta charset = "utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <title>Employee Database</title>
    <style type="text/css">
        body { background-color: white; }
    </style>
</head>

<body class="body">
    <div class="jumbotron text-center">
        <div class="page-header">
            <h3 class="text-primary">Employee Management Database </h3>
        </div>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Employee ID</th>            
                <th>Employee First Name</th>
            </tr>

            <tr>
                <td>1</td>
                <td>Nut</td>
            </tr>

            {% for row in rows %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                </tr>
            {% endfor %}

        </table>

    </div>  

</body>

</html>